---
layout: default
---


<head>

  <!--
  /**
   * @license
   * MyFonts Webfont Build ID 3293297, 2016-10-08T14:32:03-0400
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: DINNextLTPro-Light by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-light/
   * Copyright: Copyright &#x00A9; 2008 - 2009 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * Webfont: DINNextLTPro-Regular by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-regular/
   * Copyright: Copyright &#x00A9; 2010 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * 
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=3293297
   * Licensed pageviews: 250,000
   * 
   * © 2016 MyFonts Inc
  */
  -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deface</title>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icon-96.png" sizes="96x96">

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@iaaaan"/>
  <meta name="twitter:title" content="Deface"/>
  <meta name="twitter:description" content="Deface prevents Facebook from reading your messages."/>
  <meta name="twitter:image" content="https://deface.app/images/logo.png"/>

  <script src="{{ site.baseurl }}/js/lazyload.min.js"></script>
</head>

<body>
  <div class="body">
    <div class="header">
      <a class="header_logo" href="{{ site.baseurl }}/">
        <div class="header_logo_icon">
          <div class="header_logo_icon_halo">
          </div>
          <img class="header_logo_icon_img" src="{{ site.baseurl }}/images/icon-128.png" alt="Deface logo"/>
        </div>
        <h1 class="header_logo_name">
          deface
        </h1>
      </a>
      <ul class="header_navigation">
        <li class="header_navigation_link">
          <a href="{{ site.baseurl }}/mission">
            Mission
          </a>
        </li>
        <li class="header_navigation_link">
          <a href="{{ site.baseurl }}/docs">
            Tech Docs
          </a>
        </li>
        <li class="header_navigation_link">
          <a href="https://gitlab.com/deface/deface" target="_blank">
            Gitlab
          </a>
        </li>
        <li class="header_navigation_link" id="contribute-link">
          Contribute
        </li>
      </ul>
    </div>
    <div class="tagline">
      <div class="tagline_container">
        <h2 class="tagline_headline">
          Deface prevents Facebook from reading your messages.
        </h2>
        <div class="tagline_wip">
          Public release coming in 2019.
        </div>
      </div>
    </div>
    <div class="overview">
      <div class="overview_container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/W6D8UTETpro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="body process">
    <div class="process" id="process">
      <div class="process_posts">
        <div class="process_posts_post" id="general-info">
          <div class="process_posts_post_content">
            <h3>
              How can we bring some degree of privacy to social media timelines?
            </h3>

            <p>
              The recent democratization of encrypted messaging (e.g <a href="https://signal.org/" target="_blank">Signal</a>, <a href="https://wire.com/en/" target="_blank">Wire</a>) has helped protecting the communications of millions of people. Conversely, other areas of our digital lives have seen little progress when it comes to privacy. Social media feeds is one them. Given their open nature, how can we bring some degree of privacy to public conversations?
            </p>
            <p>
              Deface piggybacks on Facebook and obfuscates timeline content: it makes user messages costly for computers to read, while preserving people's user experience.
            </p>
            <p>
              Deface currently exists as a Chrome extension prototype, and we expect to release the application to the public some time in 2019. In the meantime, you can you can follow progress and contribute to the project on Gitlab.
            </p>
            <a class="gitlab" href="https://gitlab.com/deface/deface" target="_blank">
              <div class ="gitlab_icon">
                <div class="gitlab_icon_halo">
                </div>
                <svg width="24" height="24" viewBox="0 0 36 36">
                  <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                  <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                  <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                  <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                  <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                  <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                  <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
                </svg>
              </div>
              <div class="gitlab_copy">
                Find Deface on Gitlab
              </div>
              <div class="gitlab_arrow">
              </div>
            </a>
          </div>
        </div>
        <div class="process_posts_post" id="contribute">
          <div class="process_posts_post_content">
            <h3>
              We need your help! 🚀🌟
            </h3>
            <p>
              Deface is an open source effort, and we're actively looking for help in several tracks of work listed below. If your profile doesn't fit in these categories, we would still love to hear from you: <a href="mailto:admin@deface.app">admin@deface.app</a>. We’re committed to assembling a diverse set of voices and skill sets, and to providing a <a href="https://gitlab.com/deface/deface/blob/master/CODE-OF-CONDUCT.md" target="_blank">safe space</a> for conversation.
            </p>
          </div>
          <div class="process_posts_post_table">
            <div class="process_posts_post_table_column">
              <div class="process_posts_post_table_column_card">
                <h4>
                  🐝 Community organizers & activists
                </h4>
                <p>
                  Before releasing Deface to the public, we want to identify communities that are vulnerable to surveillance and could benefit from this work. We hope to work together to find out if Deface can support them, and how they can be best served.
                </p>
              </div>
              <div class="process_posts_post_table_column_card">
                <h4>
                  🐜 Grant program managers
                </h4>
                <p>
                  Deface has been a self-initiated, self-funded project since the beginning. If you know of a grant or fellowship program who would be interested in supporting us, please be in touch. Compensating our contributors matters to us.
                </p>
              </div>
              <div class="process_posts_post_table_column_card">
                <h4>
                  🦜 Copywriters & translators
                </h4>
                <p>
                  Encryption technology is not very exciting to most people, which is why we feel it is critical to make it more approachable for a diverse audience.
                </p>
              </div>
            </div>
            <div class="process_posts_post_table_column">
              <div class="process_posts_post_table_column_card">
                <h4>
                  🐒 Social science researchers
                </h4>
                <p>
                  Deface poses several social and ethical challenges. We need help identifying and mitigating risks posed to vulnerable communities. We want to develop a framework for responsible data use, and document our findings.
                </p>
              </div>
              <div class="process_posts_post_table_column_card">
                <h4>
                  🦢 Designers
                </h4>
                <p>
                  Deface's interface is still in its infancy. Eventually we would love to add in-app security information, guarantee accessibility, and provide recovery features. We would also like to create engaging video content to communicate why this project is necessary, and how it works.
                </p>
              </div>
            </div>
            <div class="process_posts_post_table_column">
              <div class="process_posts_post_table_column_card">
                <h4>
                  🦑 Information security experts
                </h4>
                <p>
                  We're looking to connect with security researchers and cryptographers in order to confirm the viability of our design. Currently, we need help modeling the impact of proof-of-work obfuscation on Facebook data processing capabilities.
                </p>
              </div>
              <div class="process_posts_post_table_column_card">
                <h4>
                  🐿 Web & mobile app engineers
                </h4>
                <p>
                  We need to design and implement a DOM manipulation system that's robust. In the longer run, we also need to port Deface to mobile platforms, where most users consume social media content. Check out deface repositories on Gitlab to get started.
                </p>
              </div>
            </div>
          </div>
          <div class="process_posts_post_content cta">
            <h3>
              Be in touch: <a href="mailto:admin@deface.app">admin@deface.app</a>.
            </h3>
            <div>
              (We're also on <a href="https://www.twitter.com/iaaaan" target="_blank">Twitter</a>)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      Deface - A project initiated by <a href="https://ian.earth" target="_blank">Ian Ardouin-Fumat</a> 🦊
    </div>
  </div>

  <script>
    function resizeVideoIFrame () {
      document.querySelectorAll('iframe.youtube').forEach(function(video){
        var siblingCount = video.parentNode.childElementCount
        var width = video.parentNode.offsetWidth - (window.innerWidth > 800 && siblingCount > 1 ? window.innerWidth * 0.0125 * 16 : 0)
        var height = width / (16 / 9)

        video.style.width = width + 'px'
        video.style.height = height + 'px'
      })
    }

    function init () {
      resizeVideoIFrame()

      document.getElementById('contribute-link').addEventListener('click', () => {
        document.getElementById('contribute').scrollIntoView({ block: 'start', behavior: 'smooth' })
      })

      const myLazyLoad = new LazyLoad({
        class_loading: 'loading',
        class_loaded: 'loaded'
      })
    }

    document.addEventListener('DOMContentLoaded', init)

    window.addEventListener('resize', resizeVideoIFrame)
  </script>
</body>