---
layout: default
category: mission
permalink: /mission/
---


<head>

  <!--
  /**
   * @license
   * MyFonts Webfont Build ID 3293297, 2016-10-08T14:32:03-0400
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: DINNextLTPro-Light by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-light/
   * Copyright: Copyright &#x00A9; 2008 - 2009 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * Webfont: DINNextLTPro-Regular by Linotype
   * URL: http://www.myfonts.com/fonts/linotype/din-next/pro-regular/
   * Copyright: Copyright &#x00A9; 2010 Linotype GmbH, www.linotype.com. All rights
   * reserved. This font software may not be reproduced, modified, disclosed or
   * transferred without the express written approval of Linotype GmbH.
   * 
   * 
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=3293297
   * Licensed pageviews: 250,000
   * 
   * © 2016 MyFonts Inc
  */
  -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deface - Mission</title>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-96x96.png" sizes="96x96">

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@iaaaan"/>
  <meta name="twitter:title" content="Deface"/>
  <meta name="twitter:description" content="Deface prevents Facebook from reading your messages."/>
  <meta name="twitter:image" content="https://deface.app/images/logo.png"/>

  <script src="{{ site.baseurl }}/js/lazyload.min.js"></script>
</head>

<body>
  <div class="body" style="overflow: hidden;">
    <div class="header">
      <a class="header_logo" href="{{ site.baseurl }}/">
        <div class="header_logo_icon">
          <div class="header_logo_icon_halo">
          </div>
          <img class="header_logo_icon_img" src="{{ site.baseurl }}/images/icon-128.png" alt="Deface logo"/>
        </div>
        <h1 class="header_logo_name">
          deface
        </h1>
      </a>
      <ul class="header_navigation">
        <li class="header_navigation_link">
          <a href="{{ site.baseurl }}/mission" style="border-bottom: 1px solid #D3D6DA;">
            Mission
          </a>
        </li>
        <li class="header_navigation_link">
          <a href="{{ site.baseurl }}/docs">
            Tech Docs
          </a>
        </li>
        <li class="header_navigation_link">
          <a href="https://gitlab.com/deface/deface" target="_blank">
            Gitlab
          </a>
        </li>
        <a href="{{ site.baseurl }}/#contribute">
          <li class="header_navigation_link" id="contribute-link">
              Contribute
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div class="body process" style="padding-top: 1px">
    <div id="process">
      <div class="process_posts">
        {% for post in site.categories["mission"] reversed%}
          <div class="process_posts_post" id="{{ post.anchor }}">
            <a href="#{{ post.anchor }}">
              <div class="process_posts_post_title">
                <h3 class="process_posts_post_title_name">
                  {{ post.title }} {{ post.tags }}
                </h3>
              </div>
            </a>
            <div class="process_posts_post_content">
              {{ post.content }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">
      Deface - A project initiated by <a href="https://ian.earth" target="_blank">Ian Ardouin-Fumat</a> 🦊
    </div>
  </div>

  <script>
    function resizeVideoIFrame () {
      document.querySelectorAll('iframe.youtube').forEach(function(video){
        var siblingCount = video.parentNode.childElementCount
        var width = video.parentNode.offsetWidth - (window.innerWidth > 800 && siblingCount > 1 ? window.innerWidth * 0.0125 * 16 : 0)
        var height = width / (16 / 9)

        video.style.width = width + 'px'
        video.style.height = height + 'px'
      })
    }

    function init () {
      resizeVideoIFrame()

      const myLazyLoad = new LazyLoad({
        class_loading: 'loading',
        class_loaded: 'loaded'
      })
    }

    document.addEventListener('DOMContentLoaded', init)

    window.addEventListener('resize', resizeVideoIFrame)
  </script>
</body>