---
title: "Tracks of work in 2019"
date: 2018-10-09 00:00:00 -0500
categories: mission
anchor: challenges
type: process
tags: ⚡️
---

<p>
  Deface currently exists as a <a href="https://gitlab.com/deface/deface" target="_blank">Chrome extension prototype</a>, and a public release date is expected in 2019. Our open source efforts will cover several tracks of work, as we commit to tackling the many social and technical challenges ahead of us.
</p>

<h5>
  Security & privacy 🛡
</h5>

<p>
  Most urgently, we're looking to connect with security researchers and cryptographers in order to confirm the viability of our design. Our approach to privacy is unconventional, and we don't expect to get it right on the first shot. In parallel, we are writing an open source cost analysis that models the impact of proof-of-work obfuscation on Facebook data processing capabilities. At a later stage, we will seek security auditing.
</p>

<h5>
  Frontend development & resilience ☔️
</h5>

<p>
  Facebook is notorious for shutting down applications that piggyback on their platform. We will need to harden the Deface client's content scripts, and build resilience against Facebook's countermeasures.
</p>

<h5>
  Cross-platform experience 📱
</h5>

<p>
  Most people consume social media on mobile platforms. For this reason, it is critical for Deface to become a cross-platform experience. We plan to release Deface to major browsers (Chrome, Firefox) and mobile operating systems (Android, iOS).
</p>

<h5>
  Public-key encryption features 🔐
</h5>

<p>
  In order to accelerate content sharing and provide stronger safety features, Deface will eventually secure some communication by using public-key encryption. To this end, we need to flesh out a technical specification.
</p>

<h5>
  Open source development 🌍
</h5>

<p>
  For the sake of transparency and accountability, we plan to share our code openly and publish documentation under a Creative Commons license. We’re committed to assembling a diverse set of voices and skill sets, and to providing a safe space for conversation.
</p>

<h5>
  Use-cases & ethics 🐝
</h5>

<p>
  We seek to connect with community organizers and activists who could benefit from this project, and together tailor the tool to their needs. Because each community operates differently, we need to understand their threat model, and mitigate the risks they might face.
</p>

<h5>
  User experience & security information ⛑
</h5>

<p>
  It is critical our audience understands what's at stake with their data, and what security trade-offs Deface makes. We also need to design our application with built-in ways to opt out and walk things back when necessary. 
</p>

<h5>
  Accessibility 😎
</h5>

<p>
  Because it alters Facebook's conventional user experience, Deface might impact individuals with accessibility needs. We plan to review and address those potential issues.
</p>

<h5>
  Launch campaign 🚀
</h5>

<p>
  The tracks of work listed above will lead up to a release of Deface to the public. We will need to strategize to make this launch impactful. We will talk to the press, coordinate with privacy advocates, and identify influencers willing to support our project.
</p>