---
title: "Privacy abuses are not a bug but a feature"
date: 2018-09-19 00:00:00 -0500
categories: mission
anchor: context
type: process
tags: 🔥
---

<p>
  Facebook's online privacy abuses have been known of the public for more than a decade. Dozens of scandals have strained the platform's credibility, and new data misuses are constantly brought to light. Some recent instances include the ways Facebook <a href="https://www.theguardian.com/technology/2014/jun/30/facebook-emotion-study-breached-ethical-guidelines-researchers-say" blank="_target">manipulates its news feed for research purposes</a>, <a href="https://www.propublica.org/article/facebook-hate-speech-censorship-internal-documents-algorithms" target="_blank">its racially-biased protections against hate speech</a>, and <a href="https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race" target="_blank">cases of redlining in ad targeting</a>. The Cambridge Analytica scandal and subsequent senate hearing in 2018 revealed these abuses were <a href="https://www.accessnow.org/its-not-a-bug-its-a-feature-how-cambridge-analytica-demonstrates-the-desperate-need-for-data-protection/" target="_blank">not bugs, but integral features</a> of the platform.
</p>

<div class="media off l">
  <div class="label">
    Photo: Jim Watson
  </div>
  <div class="image">
    <a href="https://theintercept.com/2018/04/11/mark-zuckerberg-is-either-ignorant-deliberately-misleading-congress-or-both/" target="_blank">
      <img data-original="{{ site.baseurl }}/images/deface/context/zuck.jpg" width="1440" height="720" alt="Mark Zuckerberg during the Cambridge Analytica senate hearings"/>
    </a>
  </div>
</div>

<p>
  In a similarly abusive fashion, governments in the United States and many other countries have been ramping up their efforts to collect their people's information. Amidst the rise of populism and authoritarianism, legislators and law enforcement agencies have been advocating for <a href="https://www.euractiv.com/section/digital/news/member-states-ask-for-new-eu-data-retention-rules/" target="_blank">personal data retention</a> and <a href="http://thehill.com/policy/cybersecurity/325880-uk-home-minister-calls-for-encryption-backdoors" target="_blank">encryption backdoors</a>. Abusive governments agencies <a href="https://theintercept.com/2017/08/07/these-are-the-technology-firms-lining-up-to-build-trumps-extreme-vetting-program/" target="_blank">call tech companies</a> to broadly monitor people's online activity. Our social media timelines have never been more scrutinized.
</p>

<div class="media l off">
  <div class="label">Several tech companies have been under fire for actively collaborating with anti immigration efforts. Most prominent offenders include Microsoft and Palantir, but it turns out <a href="https://gizmodo.com/turns-out-all-kinds-of-tech-companies-are-working-with-1827006046">many more are involved</a>.</div>
  <div class="image border">
    <a href="https://theintercept.com/2018/03/26/facebook-data-ice-immigration/" target="_blank">
      <img data-original="{{ site.baseurl }}/images/deface/context/ice.png" width="1440" height="729" alt="An ICE agent photographed from behind"/>
    </a>
  </div>
</div>

<p>
  Conversely, other areas of our digital lives have seen a lot of progress when it comes to privacy. Namely, the recent democratization of end-to-end encryption applications like <a href="https://signal.org/" target="_blank">Signal</a> and <a href="https://wire.com/en/" target="_blank">Wire</a> has contributed to protecting the communications of millions of people. So why are we still stuck with entirely unprotected social media timelines?
</p>

<p>
  Unlike private chats, public feeds are open by nature, which means conventional encryption techniques don't apply well to them. Moreover, as semi-public spaces, social media timelines have traditionally been understood as inherently unfit for privacy. But this is a false dichotomy: openness doesn't have to come at the expense of safety.
</p>

<h5>
  Given their open nature, how can we bring some degree of privacy to social media feeds?
</h5>

<p>
  Deface is the beginning of an answer to this problem. Deface piggybacks on Facebook and obfuscates timeline content: it makes user messages costly for computers to read, while preserving people's user experience.
</p>

<div class="media">
  <div class="image">
    <img data-original="{{ site.baseurl }}/images/deface/context/logo.jpg" width="1280" height="720" alt="Deface logo"/>
  </div>
</div>

<h5>
  Deface could benefit to the public in several ways
</h5>

<ul>
  <li>
    The adversarial approach taken by the project aims to spark a conversation. It questions Facebook's unethical practices, and challenges the established view that there's no possible privacy in public online spaces.
  </li>

  <li>
    Deface disrupts personal data processing by Facebook and third-party organizations. If successful, this increases the <a href="https://vimeo.com/110064108#t=315s" target="_blank">cost of mass surveillance</a>, and reduces the monitoring capabilities of abusive government agencies.
  </li>

  <li>
    By challenging Facebook's ability to read people's content, Deface might also prevent the company's algorithms from overly curating people's feeds and passively <a href="https://datasociety.net/output/alternative-influence/" target="_blank">promoting hate speech</a>.
  </li>

  <li>
    As an open source tool and research project, Deface shows how personal data can be decoupled from the platforms where it is stored. This paves the way for many other projects of <a href="http://ian.earth/projects/radiant-city" target="_blank">social media appropriation</a>.
  </li>
</ul>