---
title: "Overview"
date: 2019-01-16 00:00:00 -0500
categories: docs
anchor: overview
type: process
tags: 🌟
---

<p>
  Deface is an app that piggybacks on Facebook and obfuscates timeline content: it makes user messages costly for computers to read, while preserving people's user experience. To achieve this, it relies on a novel approach based on the concept of proof of work.
</p>

<div class="media xl off">
  <div class="label">
    Deface scrambles messages posted to Facebook. When friends see those Deface messages in their feeds, the app decrypts them. 
  </div>
  <div class="image">
    <img data-original="{{ site.baseurl }}/images/deface/docs/deface-diagram-1.png" width="1640" height="380" alt="Basic diagram of Deface functionality"/>
  </div>
</div>

<p>
  Deface currently exists as a browser extension prototype for Chrome, and versions for Firefox and mobile devices are in the works. The application is expected to be released publicly some time in 2019. In the meantime, you can follow progress and contribute to the project on Gitlab.
</p>

<a class="gitlab" href="https://gitlab.com/deface/deface" target="_blank">
  <div class ="gitlab_icon">
    <div class="gitlab_icon_halo">
    </div>
    <svg width="24" height="24" viewBox="0 0 36 36">
      <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
      <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
      <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
      <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
      <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
      <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
      <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
    </svg>
  </div>
  <div class="gitlab_copy">
    Find Deface on Gitlab
  </div>
  <div class="gitlab_arrow">
  </div>
</a>